:root {
  --primary-color: #FFE600;
  --dark-color: #333;
  --grey-color: #666;
  --fade-color: #999;
  --light-color: #EEE;

  --border-radius: .25rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: var(--dark-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rounded {
  border-radius: var(--border-radius);
}
